= content_for :sidebar do
  .checkout
    %dl
      %dt Är mina betaluppgifter säkra?
      %dd Ja! All betalinformation sker mellan dig och kreditkortsföretaget. Ingen information sparas av oss.
      %dt Hur lång tid tar leveransen?
      %dd Det beror på det leveranssätt du väljer. Om du beställer innan kl 14.00 skickar vi varorna redan samma dag.
      %dt Vilka betalsätt erbjuder nit?
      %dd Vi tar emot alla större betalkort. Om ni önskar att handla mot faktura, var snälla och kontakta oss så skickar vi en kontoansökan.
