<% @page_title = 'Din beställning' %>
<%= render 'layouts/shared/mobile/basket_pop' %>
<h2>Din beställning</h2>
<p>
  Dessa varor har lagts till till din beställning. Granska listan och gör eventuella ändringar.
  Klicka på "Till kassan" när du är redo att gå vidare"
</p>

