- active_nav_item :faqs
- @page_title = 'Frågor & Svar'
.content
  %h2 Svar på vanligt förekommande frågor
  %h3 Varför fransförlängning?
  %p Lash Extensions är ett glamoröst sätt att förlänga och öka tjockleken hos naturliga ögonfransar, samtidigt som det är ett praktiskt, bekvämt och vackert alternativ till daglig användning av mascara.
  %p Till skillnad från gamla traditionella lösögonfransar och fransförlängningar är detta den första innovationen inom fransförlängning som kan bäras varje dag, utan daglig borttagning. Eftersom varje avsmalnande, syntetiska frans är fastsatt på en enda naturlig frans, så är det slutliga resultatet glamour utan ansträngning och som är svår att upptäcka även på nära håll.

  %h3 Hur länge håller en behandling?
  %p Det beror lite på hur man räknar. Från och med att vi gör din första behandling tills dess att den sista fransen trillar av så tar det ungefär två och en halv månad. Det är ungefär så länge som en hårsäck lever på övre ögonlocket.
  %p Korrekt applicerat, med bra lim kan dina lash extensions bäras under hela året med minimal underhåll på månadsbasis.
  %p Vi rekommenderar påfyllning efter den första fullständiga behandlingen för att fylla ut alla fransar vars hårsäck har levt ut sin livscykel. För att kunna upprätthålla den fylliga och glamorösa utseendet hos dina fransar rekommenderas ett besök hos din fransspecialist ca var fjärde vecka beroende på livscykeln hos dina hårsäckar.

  %h3 Kan fransförlängning skada mina naturliga fransar?
  %p Fransförlängningen inte skada dina naturliga fransar om den appliceras på rätt sätt.

  %h3 Kan jag använda mascara när jag har fransförlängning?
  %p Mascara behövs normalt inte med fransförlängningar, och rekommenderas när en påfyllning närmar sig. Man kan endast använda vattenlöslig mascara. Konstant användning av mascara kan förkorta livslängden på ögonfransarna och därtill så rekommenderas inte vattenfast mascara , eftersom det kommer att lösa upp fästet med ögonfransarna. NovaLash glykol och karbonatfria mascara är speciellt framtagen för användning på förlängningar utan att störa limmet.

  %h3 Vad finns det för efterbehandlingsinstruktioner?
  %p De första tolv timmarna efter en behandling så får inte fransarna utsättas för vatten. Därefter så går det bra att bada eller simma även med dina fransförlängningar. Det är nödvändigt rengöra fransarna för att maximera livslängden på förlängningar. NovaLash  rengöringspads är perfekt för rengöring av fransarna från smink eller förorening samtidigt som den är fuktgivande för fransarna så att de bibehåller sin flexibilitet. Vi rekommenderar även att du borstar fransarna med hjälp utav en fransborste. Du bör inte lämna salongen utan top of the line-hårprodukter - likaså gäller det även dina fransar.
