- active_nav_item :home
- @full_header = true
- @page_title = 'V채lkommen'

.home
  %p.browse= link_to 'Bl채ddra i v책r katalog', catalogue_path
  %h2 Popul채ra produkter

= render 'shared/product_list', :products => @products.includes(:default_image)
