- @page_title = 'Personlig information'
.content
  %h2 Hur behandlar vi din personliga information?
  %p När du handlar från en webbutik lämnar du ifrån dig information om dig själv. Var du bor, vilken e-postadress du har och vad du handlar. Vissa av våra kunder undrar vad vi gör med informationen och här beskriver vi lite mer formellt hur vi arbetar med information.
  %p Grunden i allt vi gör är att behandla våra kunder som vi själva vill bli behandlade, alltid. Det gäller även när det kommer till information.

  %h2 Vilken information samlar vi in?
  %p Vi samlar in så lite information som möjligt. Vi behöver veta var du bor för att kunna skicka varorna hem till dig. Beställer du till ditt jobb eller sommarställe behöver vi inte ens veta var du bor.

  //%p Vill du beställa mot faktura så måste vår sammarbetspartner Klarna ha ditt personnummer. Bara då kan du få dina varor hemskickade mot faktura.

  %p När du betalar med kort så krävs det att du uppger ditt kreditkortsnummer. Det går via en säker server och Klarna eller DIBS sköter kortbetalningar via oss.

  %p Vi måste såklart även veta vilka produkter du beställer och vi behöver din e-postadress för att kunna kontakta dig med leveransbesked, ändrad information osv.

  %h2 Hur använder vi den här informationen?
  %p Vi använder informationen för att expediera din beställning. Vi använder din e-postadress för att kunna skicka information till dig. Vill du inte ha information från oss så kan du enkelt via en länk informationsmailet avbeställa vidare informationsbrev och kommer då aldrig bli kontaktad av oss igen.

  %h2 Cookies
  %p Vi använder cookies - det gör vi för att kunna lagra dina varor i din varukorg.

  %p Vi använder dessutom Googles tjänster "Google Analytics" och annan tredjepart mjukvara. Även dessa tjänster använder Cookies.

  %h2 Information till andra aktörer
  %p Vi lämnar aldrig ifrån oss din information till någon annan. Undantag görs om vi av någon anledning är tvingade enligt lag.

  %h2 Ta bort din information från vår databas
  %p Den enda informationen som vi behåller är din e-postadress. Resterande information sparas bara som underlag för den ekonomiska transaktionen.

  %p Vill du inte att vi har din e-postadress i vår databas för informationsbrev så kan du maila oss så tar vi bort den.

