- @page_title = 'Returer och byten'
.content
  %h2 Returer och byten
  %p Tack för att du har valt att handla hos oss. Vi hoppas att du blir nöjd med din beställning. Om du inte skulle vara helt nöjd, har du möjlighet att returnera eller byta dina stödstrumpor eller fotvårdsprodukter.
  %h3 Ångerrätt – om du ångrar ditt köp
  %p Full ångerrätt gäller 14 dagar från det att du mottagit ditt köp. Vid en retur skall varan vara i oanvänt skick och returneras i originalförpackningen. Med oanvänt skick menas att varan, efter provning, är hel och ren och i säljbart nyskick. Undantaget är underkläder (trosor och boxer) som inte får provas, och de ska returneras i obruten förpackning. Skicka alltid varan tillsammans med kvitto, faktura eller orderbekräftelse och ange orsak till retur.
  %p Vid godkänd retur återbetalar vi summan för returen eller hela ordersumman. Har kunden betalat via sin internetbank behöver vi kontonummer för att kunna återbetala ordern. I alla andra fall återbetalar vi automatiskt tillbaka till det kontot som användes i samband med köpet. Kunden står för returporto.
  %h3 Byten
  %p Vi erbjuder 30 dagars bytesrätt på varor i oanvänt skick. Bytesrätten gäller vid t.ex byte av storlek eller färg. Maila kundtjänst på info@butik21.com eller ring 08-27 88 50 för att få hjälp med att hitta rätt produkt för dig. Kunden står för returporto.
  %h3 Reklamation
  %p Reklamationen gäller på varor inom 30 dagar från genomfört köp. Reklamation gäller t.ex. vid fabrikationsfel, som till exempel trasiga sömmar. Reklamationsrätten innefattar inte förslitningsskador. Maila vår kundtjänst vid reklamationer innan ni skickar tillbaka returen.
  %p Vid godkänd reklamation återbetalar vi summan för returen eller hela ordersumman samt står för returportot.
  %h3 Ogiltiga returer
  %p Är du osäker på om du har rätt till byte eller retur, var god kontakta vår kundtjänst. Ogiltiga returer kommer skickas tillbaka till kund mot ett förskott på portokostnaden.
  %h3 Kostnad för ej uthämtad paket
  %p  Om du ångrar dig innan du får ditt paket bör du ändå hämta ut ditt paket och sedan skicka tillbaka det till oss. Vi tar ut en administrativ avgift på 250 kr för ej uthämtade paket. Anledningen är att det kostar oss väldigt mycket och tar väldigt lång tid att få tillbaka paket som inte hämtas ut.
