- @page_title = 'Terms & Conditions'
.content
  %p Nedan följer villkor som gäller när du handlar genom webbshoppen
  %h2 Allmänna villkor
  %h4 1. Köp
  %small Vid beställning träffas avtal om köp först när LashQueen.se bekräftat beställningen genom en orderbekräftelse. En orderbekräftelse skickas senast 24 timmar efter att beställning mottagits av butik21.com. Om leveranstid ändras i beställningen kommer kunden att meddelas om detta snarast möjligt. Du har alltid rätt att häva köpet utan kostnad fram till att varan är skickad. LashQueen.se har ägande och återtaganderätt till samtliga produkter tills dess att fullständig betalning har mottagits från kund. För att handla hos oss måste du vara 18 år och butik21.com måste kunna fastställa kundens bostadsadress.
  %h4 2. Priser
  %small I priserna ingår moms med 25 % för beställningar inom EU. Vid bekräftad beställning, kan priserna endast ändras av omständigheter som LashQueen.se inte råder över. Till exempel väsentligt ändrade råvarupriser, valutaförändringar eller ändrad moms. Inga expeditionskostnader tillkommer. Skulle priset ändras har kunden rätt att utan kostnad häva köpet.
  %h4 3. Frakt
  %small En fraktkostnad om 29 kr tillkommer inom Sverige.
  %h4 4. Betalningsalternativ/betalningsvillkor
  %h5 4.1 Faktura (endast inom Sverige)
  %small Avgiften för att betala mot faktura är 0 kronor. Vi använder Klarna för faktura och du hittar deras villkor här: http://www.klarna.com/sv/privat.
  %small Betalningsvillkor: Vid fakturabetalning gäller 14 dagar från det att varan skickats.  Det är Klarnas betalningsvillkor som gäller och du hittar dem här: Klarna faktura
  %h5 4.2 Kortbetalning
  %small Vi använder DIBS och Klarna för säkra kortbetalningar. Läs mer om DIBS här: http://www.dibs.se/
  %small Läs mer om Klarna här: http://www.klarna.com/sv/privat.
  %h5 4.3 Direktbetalning via internetbank.
  %small Betalning via banken sker genom Klarna. Läs mer om Klarna här: http://www.klarna.com/sv/privat
  %h5 4.4 Paypal
  %small Du har möjlighet att betala via Paypal. För mera information besök www.paypal.se.
  %h4 5. Leveranser
  %small Beställningar som görs före klockan 16.00 på helgfri vardag behandlas samma dag och levereras normalt inom 1-2 dagar inom Sverige.
  %small Vi reserverar oss för att samtliga lagervaror blir slutsålda innan vi hinner uppdatera hemsidan, och då upplyser vi kunderna om den beräknade leveranstiden. Kunden har alltid rätt att häva köp utan kostnad om inte varan finns i lager. Paketen levereras av Posten eller annan transportör till utlämningsställe eller skickas som post.
  %h4 6. Leveransförseningar
  %small Ibland uppstår leveransförseningar från våra leverantörer utom vår kontroll. Det kan till exempel ske då en leverantör inte kan fullfölja sina leveransförpliktelser mot oss eller problem i tillverkningsprocessen. Om det inträffar frånsäger vi oss ersättningsansvar till kunden för den skada som förseningen åstadkommit. Du kan lita på att vi alltid meddelar dig om leveranser drar ut på tiden. Du har som kund alltid rätt att häva köpet utan kostnad vid leveransförsening.
  %h4 7. Transport
  %small LashQueen.se ansvarar för transport till dig som kund. Du och transportföretaget står för risken vid eventuell retur till oss.
  %h4 8. Skadade varor
  %small När du får dina varor är det viktigt att du kontrollerar din beställning direkt.  Har du mottagit en felaktig eller skadad vara, kontakta oss så snart som möjligt via e-post till info@butik21.com.
  %h4 9. Ångerrätt och öppet köp
  %small Privatkunder har enligt distansavtalslagen rätt till 14 dagars ångerrätt. Detta innebär att du som kund har rätt att ångra ditt köp inom 14 dagar efter det att du har tagit emot varan. Återsänd vara måste vara oanvänd och i sin originalförpackning. Vid utnyttjande av ångerrätt/öppet köp står kunden för returfrakten.
  %small Som kund hos oss erbjuder Butik21 även bytesrätt inom 30 dagar från det att du beställt varan. Detta gäller endast oanvända produkter.
  %h4 10. Reklamationer
  %small Om du vill reklamera en skadad eller felaktig produkt ber vi dig kontakta oss via e-post för vidare instruktioner. Meddela oss helst via e-post info@butik21.com innan du skickar något. Lägg med fakturan/kvittot så vi kan identifiera returen. Kom ihåg att du ansvarar för frakten till oss.
  %small Vid en eventuell tvist följer vi alltid ARN:s rekommendationer.
  %h4 11. Återbetalningar
  %small Återbetalning sker via Klarna, PayPal eller DIBS. Summan återbetalas alltid till samma konto som använts vid köpet och snarast möjligt från det att vi har mottagit och godkänt returen.
  %h4 12. Reservationer
  %small Vi reserverar oss för ändringar i priser till följd av stora prisavvikelser från våra leverantörer, felskrivningar eller andra fel som ligger utanför vår kontroll. Läs mer om oförutsedda händelser under Force Majeur nedan.
  %h4 13. Skydd av personuppgifter
  %small I samband med registrering och beställning godkänner du att vi lagrar och använder dina uppgifter i vår verksamhet endast i syfte för att fullfölja och tillhandahålla den service som du förväntar dig av oss. Enligt PUL (personuppgiftslagen) har du rätt att få den information som vi har registrerat på dig och om du anser den vara felaktig eller irrelevant kan du begära rättelse eller borttagning ur vårt kundregister. Kontakta i så fall vår kundservice (gärna på e-post info@butik21.com). Vi försäkrar även att vi inte kommer sälja eller överlåta några personuppgifter (se vår privacy policy).
  %h4 14. Ej uthämtat paket
  %small Om ditt paket anländer till ett utlämningsställe skickas en avisering via e-post eller sms till dig. Du som kund är ansvarig för att det mobilnummer, den adress och den e-postadress du angivit är korrekta.
  %small Om du inte hämtar ut ditt paket så debiteras du en administrativ avgift på 250 kr.
  %h4 15. Force Majeur
  %small I händelse av krig, naturkatastrof, stridsåtgärder på arbetsmarknaden, myndighetsbeslut och jämförbara händelser utanför vår kontroll vilka ej skäligen kunnat förutses, och påverkar ingångna avtal samt utfästelser från vår sida, som gör att vi ej kan hålla nämnda avtal/utfästelse, skall utgöra grund till att vi befrias från våra förpliktelser att fullgöra nämnda avtal.
  %p Nedan följer länkar till Konsumentverket och ARN där du kan läsa mer detaljerat om konsumentköplagen och distansavtalslagen mm.
  %p http://www.konsumentverket.se/ http://www.arn.se/
