- active_nav_item :why
- @page_title = 'Om oss'
.content
  %h2 Fransförlängning / Fransar & Bryn
  %p Laura Lindqvist var bland de första i Sverige med att erbjuda fransförlängning och har många års erfarenhet. Idag innehar hon lärarlicens och har även tagit fram sin egna produktserie. Hennes kurser är mycket populära då hon endast tar emot en elev per kurstillfälle och garanterar därför hög kurskvalité. Hennes fransprodukter utmärker sig från resten av utbudet på marknaden och genererar i god lönsamhet samt kvalité för henne och hennes elever. Hon har jobbat på Salong Noblesse i många år (sök gärna för omdömen på www.rejta.se under salong noblesse) och har nu äntligen öppnat sin egna salong.
  %p Laura, certifierad fransstylist, har många stamkunder som gjort fransförlängning regelbundet i flera år, och hon kämpar med att eliminera myten om att fransförlängning förstör dina egna fransar:
  %p Om man går till en professionell fransstylist och följer skötselråden som man blir informerad om under besöket, kan man förlänga sina fransar hur länge som helst utan att man förstör sina egna fransar. Det viktigaste är att man går på regelbundna återbesök och inte utsätter lösfransarna för till exempel vätska de första dygnet, olja samt annat som förstör.En lyckad fransförlängning får dig att se piggare, snyggare och yngre ut! Dessutom är det en väldig fördel att slippa lägga på mascara varje dag!
