<div data-role="panel" id="nav-panel" class="ui-panel ui-panel-position-left ui-panel-display-reveal ui-body-inherit ui-panel-animate ui-panel-open">
  <h3 style="margin-top: 0; padding-bottom: 10px !important;;"><%= Shoppe.settings.store_name %></h3>
  <ul data-role="listview">
    <li data-role="list-divider">Konto</li>
    <li><a href="#">Villkor</a></li>
    <li data-role="list-divider">Shoppen</li>
    <li><a href="#">Beställning</a></li>
    <li><a href="#">Kassan</a></li>
  </ul>
</div>