<div data-role="panel" id="nav-panel" class="ui-panel ui-panel-position-left ui-panel-display-reveal ui-body-inherit ui-panel-animate ui-panel-open">
<ul data-role="listview">
	<li data-role="list-divider">Konto</li>
	 <li><a href="#">Villkor</a></li>
<li data-role="list-divider">Shoppen</li>
  <li><a href="#">Beställning</a></li>
  <li><a href="#">Kassan</a></li>
 
</ul>

 </div>